body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.grid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    gap: 0;
    grid-template-columns: repeat(auto-fill, 50px);
    grid-auto-rows: 50px;
  }
  
  .grid button {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    background-color: #ccc;
  }

  .grid-cell {
    display: grid;
  }

  .grid-cell button {
    grid-column: 1;
    grid-row: 1;
  }

  .grid-cell image {
    grid-column: 1;
    grid-row: 1;
  }